<% content_for :page_title, "#{@user.first_name.downcase}'s profile" %>

<div class="row">
  <div class="small-3 small-offset-2 columns">
    <img src="<%= @user.avatar %>" class="profpic">
  </div>
  <div class="small-7 columns">
    <h1 class="text-left"><%= @user.first_name.downcase %> <%= @user.last_name.downcase %></h1>
    <h4 class="text-left">age: <%= @user.age%></h4>
    <% if @user.gender %>
      <h4 class="text-left">gender: <%= @user.gender %></h4>
    <% end %>
    <% if @user.rumie_group %>
      <h4 class="text-left">rümies with <%=@user.rumie_group.group_name.downcase%></h4>
    <% end %>
    <% if current_user == @user %>
      <%= link_to 'edit my profile', edit_user_registration_path(@user), class:"button secondary" %>
    <% end %>
  </div>
</div>

</br>

<div class="row">
  <div class="small-8 small-centered columns">
    <h4 class="text-left">about <%= @user.first_name.downcase %>:</h4>
    <% unless @user.about_personality == "" || @user.about_personality.nil? %>
      <h6 class="text-justify"><%= @user.about_personality.downcase %></h6>
    <% else %>
      <h6 class="text-justify">
        <em>
          <%= @user.first_name.downcase%> hasn't added anything about
          themselves yet...
        </em>
      </h6>
    <% end %>
  </div>

  </br>

  <div class="small-8 small-centered columns">
    <h4 class="text-left">about <%= @user.first_name.downcase %>'s career:</h4>
    <% unless @user.about_career == "" || @user.about_career.nil? %>
      <h6 class="text-justify"><%= @user.about_career.downcase %></h6>
    <% else %>
      <h6 class="text-justify">
        <em>
          <%= @user.first_name.downcase%> hasn't added anything about
          their career path just yet...
        </em>
      </h6>
    <% end %>
  </div>

  </br>

  <div class="small-8 small-centered columns">
    <h4 class="text-left"><%= @user.first_name.downcase %>'s ideal rümie:</h4>
    <% unless @user.about_preferences == "" || @user.about_preferences.nil? %>
      <h6 class="text-justify"><%= @user.about_preferences.downcase %></h6>
    <% else %>
      <h6 class="text-justify">
        <em>
          <%= @user.first_name.downcase%> is keeping their rümie preferences
          a secret...
        </em>
      </h6>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-8 small-centered columns" >
    <h4 class="text-left">wants to live in <%= @user.city %>, <%= @user.state %></h4>
    <div class="small-10 columns" id="map"></div>
    <input id="address" type="hidden" value="<%= @user.city %> <%= @user.state %>">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API']%>&callback=initMap"
      type="text/javascript">
    </script>
  </div>
</div>
