<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%=link_to 'Nu Rumie', page_path('home')%></li>
          <li><%=link_to "About", page_path('about')%></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
